.env
temo.env
/.codex
.DS_Store
**/.DS_Store
**/.ssl/
backend/workspace/ssl/
**/package-lock.json
!client/package-lock.json
backend/build/backups/*
backend/workspace/parser/parser_files/*
backend/static/.maintenance
backend/backend_cov_app/*
*.bak
*.log
*.py[cod]
*.swp
*.tmp
*/.dll
*/.pyc
backend/tests/mock/api/**/*.state
__pycache__/
**/_pycache_/

.idea/

env/
.venv/
**/venv/
client/build-next/*
backend/env/
client/node_modules/
client/.angular/cache/
backend_cov_app/*
backend/build/
backend/workspace/build/
backend/workspace/build/*
client/build/

logs/
mongo-data/
bloom_data/

CrawlerInstance/applicationController/predictions.csv
TrustlySearchServices/raw/classifier_output/training_data.csv
db.sqlite3

client/cypress/downloads/*
client/cypress/screenshots/*
client/cypress/error/*
!client/cypress/error/.gitkeep
client/.nyc_output/
client/coverage/
backend/coverage.xml
backend/htmlcov/
coverage-merged/
.coverage
.coverage.*
backend/.coverage
backend/.coverage.*

static/trustly/.well-known/model/*
backend/workspace/parser/parser_files.zip

swagconfig/index.css.gz
swagconfig/index.html.gz
swagconfig/swagger-initializer.js
swagconfig/swagger-initializer.js.gz
swagconfig/swagger-ui-bundle.js.gz
swagconfig/swagger-ui-standalone-preset.js.gz
swagconfig/swagger-ui.css.gz
swagconfig/swaggerconfigv1.js.gz

backend/workspace/resource/**
!backend/workspace/resource/**/
!backend/workspace/resource/**/*default*

nginx/nginx.conf
.pytest_cache/
