<div class="aircraft-marker group relative flex h-full w-full items-center justify-center">
  <div class="aircraft-icon-wrap absolute inset-0 flex items-center justify-center transition duration-150 group-hover:brightness-125">
    <svg class="aircraft-icon h-full w-full transition-colors duration-150" [class.drop-shadow]="!isSelected" [class.drop-shadow-lg]="isSelected" viewBox="0 0 24 24" [attr.fill]="iconFill" [attr.stroke]="strokeColor" stroke-width="1.35" paint-order="stroke" aria-hidden="true">
      <g [attr.transform]="rotationTransform">
      <path d="M21 16v-2l-8-5V3.5a1.5 1.5 0 0 0-3 0V9L2 14v2l8-2.5V19l-2 1.5V22l3-1 3 1v-1.5L12 19v-5.5L21 16z" />
      </g>
    </svg>
  </div>

  @if (isLoading) {
    <div class="absolute -right-px -top-px h-3 w-3 rounded-full border-2 border-[#081421] bg-[#fde68a] [body.light-theme_&]:border-white"></div>
  }
</div>
