.searchbar__logo-container {
  margin-bottom: 12px
}

.searchbar__logo-grid {
  display: grid;
}

.searchbar__logo:active {
  opacity: 0.5;
  transition: opacity 0.3s;
  width: 100%;
  float: left;
}

.searchbar__profile-button {
  position: absolute;
  right: 30px;
  top: 30px;
}

.searchbar__header {
  display: flex;
  align-items: baseline;
}

.searchbar {
  width: 100%;
  overflow: hidden;
  margin-top: -1px;
  padding: 40px 48px 15px 80px;
  padding-top: 25px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #19334D;
  background: #174069;
  padding-right: 0;
}

.searchbar__searchbox-icon {
  width: 17px;
  margin-top: -10px;
}

.searchbar__searchbox-button {
  height: 28px;
  width: 30px;
  float: right;
  opacity: 1;
  position: relative;
  right: 15px;
  top: -33.5px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  outline: none;
  border: 0;
}

.searchbar__searchbox {
  clear: left;
  width: 100%;
  max-width: 660px;
  border: 0;
  box-shadow: none;
}

.searchbar__detail-header-search-input {
  align-self: center;
  border-radius: 7px !important;
  height: 44px !important;
  width: 100%;
  font-size: 16px;
  color: black;
  padding-left: 12px;
  margin-left: 0;
  border: 0;
  margin-top: 5px;
  padding-right: 45px;
}

.searchbar__detail-header-search-input:focus {
  outline: none;
  border: none;
  box-shadow: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.searchbar__detail-header-search-input:hover {
  outline: none;
  box-shadow: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
}

.searchbar__search-items--right {
  margin-right: -2px;
  outline: none;
}

.searchbar__search-items--width {
  width: 55px !important;
  outline: none;
}

.searchbar__search-items--left {
  margin-left: 0;
  outline: none;
}

.searchbar__detail-header-catagories-margin-right {
}

.searchbar__search-items {
  font-size: 14px;
  color: #A0B8D1;
  cursor: pointer;
  display: block;
  width: 49px;
  font-family: Roboto, sans-serif;
  height: 37px;
  border: none;
  background: none;
  float: left;
  text-align: center;
  user-select: none;
  margin-right: 30px;
  outline: none;
}

.searchbar__search-items:hover:not(.active) {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  outline: none;
}

.searchbar__search-items:hover.active {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fff;
  outline: none;
}

.searchbar__search-items-active-default {
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  pointer-events: none;
}

.searchbar__nav-right {
  float: right;
}

.searchbar__search-items:focus {
  outline: none;
}

@media only screen and (max-width: 1400px) {
  .searchbar {
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 1.5em;
    padding-bottom: 0;
  }

  .searchbar__detail-header-search-input {
  }

  .searchbar__search-items {
    margin-right: 15px;
    outline: none;
  }

  .searchbar__detail-header-search-input {
    margin-left: 0;
    width: 100%;
  }

  .searchbar__profile-button {
    display: none;
  }

  .searchbar__nav-right {
    display: none;
  }

  .searchbar__searchbox-button {
    right: 3px;
  }

}

.directory__header-pagination-form {
  display: flex;
  justify-content: end;
  align-items: center;
}

.search__header-network-dropdown {
  position: relative;
  display: inline-block;
}

.search__header-network-toggle {
  display: none;
}

.search__header-network-image {
  cursor: pointer;
  width: 20px; /* Adjust image size */
  height: 20px;
  margin-top: 8px;
}

.search__header-network-content {
  display: none;
  position: fixed;
  background-image: linear-gradient(90deg, rgba(21, 52, 84, 1) 0%, rgba(22, 56, 88, 1) 100%) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  min-width: 150px;
  color: #fff;
  border-radius: 8px;
  margin-top: 6px;
  margin-left: -65px;
}

.search__header-network-toggle-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.search__header-network-toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search__header-network-toggle-input {
  display: none;
}

.search__header-network-toggle-label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #5F84A9;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0;
}

.search__header-network-toggle-label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.search__header-network-toggle-input:checked + .search__header-network-toggle-label {
  background-color: #2665A0;
}

.search__header-network-toggle-input:checked + .search__header-network-toggle-label::after {
  transform: translateX(20px);
}

.search__header-network-submit-button {
  padding: 8px;
  background: #12335450;
  outline: none;
  color: white;
  border: 1px solid #102A4685;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.search__header-network-toggle-p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.search__header-network-submit-button img {
  width: 20px;
  height: auto;
}

.search__header-network-submit-button:hover {
  background: none;
  border: 1px solid #102A4685;
}
.search__header-network-submit-button:focus {
  border: 1px solid #102A4685;
  outline: none;
}
.search__header-network-toggle:checked ~ .search__header-network-content {
  display: block;
}

.search__header-network-select-label {
  display: flex;
}

.search__header-network-checkbox-group {
  margin-bottom: 10px;
}

.search__header-network-content form {
  display: flex;
  flex-direction: column;
}

.search__header-network-button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search__header-network-button:hover {
  background-color: #0056b3;
}