@keyframes scan-report-fade-in {
  from {
    opacity: 0%;
    transform: translateY(-5px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.scan-report-fade-in {
  animation: scan-report-fade-in 400ms ease-in-out;
}
