@keyframes credential-panel-fade-in {
  from {
    opacity: 0%;
    transform: translateY(-5px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.credential-panel-fade-in {
  animation: credential-panel-fade-in 400ms ease-in-out;
}
