.fade-in-dashboard-item {
  animation: fade-in-dashboard-item 400ms ease-in-out;
}

@keyframes fade-in-dashboard-item {
  from {
    opacity: 0%;
    transform: translateY(-5px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
